.Header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 4rem 1rem 0;
}
.HeaderBtn {
  margin: 0 1rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  color: black;
}
.HeaderBtn:last-child {
  margin-right: 0;
}

@media (max-width: 850px) {
  .Header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem 1rem 0;
  }
}
