.gallery {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  flex-direction: column;
  background-position: center;
  justify-content: space-between;
}
.galleryPreview {
  align-self: flex-end;
  margin: 0 auto;
}
.galleryButton {
  height: 3.625rem;
  width: 3.625rem;
  margin-bottom: 3.625rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kontaktImage {
  height: 100vh;
  cursor: pointer;
}
.kontaktImg {
  height: 100vh;
  background-image: url("../../public/images/cover/Karta.png");
  object-position: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
}
.kontaktImgHref {
  height: 100vh;
}
.clickable {
  height: 90%;
}
@media (max-width: 850px) {
  .gallery {
    border-radius: 1rem;
    min-height: 40vh;
    justify-content: flex-end;
    margin: 5% auto 0 auto;
  }
  .kontaktImg {
    height: 40vh;
    background-position-y: 80%;
    background-position-x: 85%;
    background-position: cover;
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    margin: 1rem auto;
  }

  .galleryButton {
    margin-bottom: 1rem;
  }
  .clickable {
    height: 100%;
  }
}
