.weatherContainer {
  margin-top: 10%;
  background-color: rgba(16, 84, 147, 1);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  text-align: center;
}
.mainWeather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.weatherRow {
  border-bottom: 1px solid #276798;
  width: 90%;
  border-width: 90%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 850px) {
  .weatherContainer {
    border-radius: 1rem;
    margin: 5% AUTO 5% AUTO;
  }
}
